html {
  --todo-white: #FFFFFF;
  --todo-black: #090909;
  --todo-dark-pink: #FF90B3;
  --todo-light-pink: #FFC2E2;
  --todo-blue: #4F518C;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--todo-white);
}

.header {
  background-color: var(--todo-dark-pink);

  height: 5rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-button-group {
  display: flex;  
}

.header-button-group button {
  font-size: 1.5rem;
  font-weight: bold;

  color:var(--todo-blue);
  background-color: var(--todo-light-pink);

  border: none;
  border-radius: 3px;

  padding: .75rem 3rem;
}

.header-button-group button:hover {
  background-color: var(--todo-blue);
  color: var(--todo-light-pink);
}

.header-button-group button:active {
  background-color: var(--todo-black);
  color: var(--todo-light-pink);
}

.main-area.sidebar-open {
  display: grid;
  grid-template-areas: 
  "tasks-area sidebar-area";
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  min-height: 100vh;
}

.tasks-area {
  grid-area: tasks-area;
  background-color: var(--todo-light-pink);
}

.sidebar-area {
  grid-area: sidebar-area;
  background-color: var(--todo-dark-pink);

  padding: 1rem;
}

.sidebar-area h1 {
  margin-bottom: 1.5rem;
}

.sidebar-area .form-row {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-area .form-row input[type='text'] {
  background-color: var(--todo-white);
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}

.sidebar-area .form-row label {
  margin-bottom: .25rem;
}

.sidebar-area .form-row textarea {
  font-size: 1rem;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  min-height: 10rem;
  padding: .5rem;
  resize: none;
}

.sidebar-area .form-row .instructions {
  color: var(--todo-blue);
  font-size: 1rem;
  font-style: italic;
}

.sidebar-area .form-row ::-webkit-datetime-edit { 
  padding: .5em;
  font-size: 1rem;
  width: auto;
}

.sidebar-area .form-row ::-webkit-calendar-picker-indicator {
  width: 2rem;
  height: 2rem;
}

.sidebar-area .form-row select {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}