html {
  --todo-white: #FFFFFF;
  --todo-black: #090909;
  --todo-dark-pink: #FF90B3;
  --todo-light-pink: #FFC2E2;
  --todo-blue: #4F518C;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--todo-white);

  height: 100%;
}

body {
  height: 100%;
}

.content {
  width: 100vw;
  min-height: 100vh;
}

.header {
  background-color: var(--todo-dark-pink);

  height: 5rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-button-group {
  display: flex;  
}

button {
  font-size: 1.5rem;
  font-weight: bold;

  color:var(--todo-blue);
  background-color: var(--todo-light-pink);

  border: none;
  border-radius: 3px;

  padding: .75rem 3rem;
}

button:hover {
  background-color: var(--todo-blue);
  color: var(--todo-light-pink);
  cursor: pointer;
}

button:active {
  background-color: var(--todo-black);
  color: var(--todo-light-pink);
}

.project-filter-div {
  display: flex;
  margin: 1rem;
}

.project-filter-div .project-tag.all-projects-tag {
  border-radius: 1rem;

  padding: .25rem 1rem;
  margin: 0rem 1.5rem 0rem .5rem;

  font-weight: 600;
  color: var(--todo-blue);
  background-color: var(--todo-light-pink);
}

.project-filter-div .project-tag {
  border-radius: 1rem;

  padding: .25rem 1rem;
  margin: 0rem .5rem;

  font-weight: 600;
  color: var(--todo-blue);
  background-color: var(--todo-light-pink);
}

.project-filter-div .project-tag:hover {
  color: var(--todo-white);
  background-color: var(--todo-dark-pink);
  outline: 2px solid var(--todo-blue);

  cursor: pointer;
}

.project-filter-div .project-tag:active {
  color: var(--todo-white);
  background-color: var(--todo-blue);
  outline: 2px solid var(--todo-blue);

  cursor: pointer;
}

.main-area {
  background-color: var(--todo-light-pink);
}

.main-area.sidebar-open {
  display: grid;
  grid-template-areas: 
  "tasks-area sidebar-area";
  grid-template-columns: 2fr 1fr;
  min-height: calc(100vh - 5rem);
}

.main-area.sidebar-closed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "tasks-area";
  min-height: calc(100vh - 5rem);
}

.tasks-area {
  grid-area: tasks-area;
  background-color: var(--todo-light-pink);
}

.sidebar-area {
  grid-area: sidebar-area;
  background-color: var(--todo-dark-pink);

  padding: 1rem;
  min-height: calc(100vh - 5rem);
}

.sidebar-area.sidebar-closed {
  display: none;
}

.sidebar-area .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-area .sidebar-header .close-sidebar-button {
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: var(--todo-dark-pink);
  border-radius: 1rem;
}

.sidebar-area .form-row {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-area .form-row input[type='text'] {
  background-color: var(--todo-white);
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}

.sidebar-area .form-row label {
  margin-bottom: .25rem;
}

.sidebar-area .form-row textarea {
  font-size: 1rem;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  min-height: 10rem;
  padding: .5rem;
  resize: none;
}

.sidebar-area .form-row ::-webkit-datetime-edit { 
  padding: .5em;
  font-size: 1rem;
  width: auto;
}

.sidebar-area .form-row ::-webkit-calendar-picker-indicator {
  width: 2rem;
  height: 2rem;
}

.sidebar-area .form-row select {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}

.hide,
.form-row.hide {
  display: none;
}

.task-div {
  background-color: var(--todo-white);

  border: 1px solid var(--todo-dark-pink);
  border-radius: 1rem;
  
  margin: 1rem;
  padding: 1rem;

  color: var(--todo-black)
}

.task-div .task-title {
  color: var(--todo-blue)
}

.task-div .task-due-date {
  margin-bottom: .5rem;
}

.task-div .task-description {
  margin-bottom: .5rem;
}

.task-div .expand-or-minimize-task-button {
  color: var(--todo-dark-pink);
}

.task-div .expand-or-minimize-task-button:hover {
  color: var(--todo-dark-pink);
  text-decoration: underline;
  cursor: pointer;
}

.task-div .expand-or-minimize-task-button:active {
  color: var(--todo-blue);
  text-decoration: underline;
  cursor: pointer;
}

.task-div .remove-task-button {
  color: var(--todo-dark-pink);
  display: block;
  float: right;
}

.task-div .remove-task-button:hover {
  color: var(--todo-dark-pink);
  text-decoration: underline;
  cursor: pointer;
}

.task-div .remove-task-button:active {
  color: var(--todo-blue);
  text-decoration: underline;
  cursor: pointer;
}